@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 84.3%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
.hamburger { display: none; }

header {
  padding: 37px 0;
  border-bottom: 3px solid #EAEAEA;
  margin-bottom: 30px;
}

h1 {
  width: 8%;
  position: absolute;
  top: 0;
}

nav { float: right; }
nav li { margin-left: 51px; }

nav a {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* banner section styling start */
.banner {
  margin-bottom: 42px;
  position: relative;
}

.banner .wrapper {
  width: 100%;
  overflow: hidden;
}

.banner-info {
  width: 5.5%;
  margin-left: 2%;
  position: absolute;
  top: 308px;
  z-index: 1;
  text-align: center;
  -webkit-transform: translate(-2%);
  -ms-transform: translate(-2%);
  transform: translate(-2%);
}

.banner-info p,
.banner-info a,
h2 {
  color: #FFF;
  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  margin-bottom: 6px;
  font-size: 38px;
}

.banner-info p {
  margin-bottom: 21px;
  font-size: 15px;
  text-transform: capitalize;
}

.banner-info a {
  padding: 12px 15px;
  background-color: #FFF;
  color: #000;
  font-size: 10px;
}

.slick-prev,
.slick-next {
  border: none;
  float: left;
  background: transparent;
  text-indent: -9999px;
}

.slick-next,
.slick-prev {
  position: absolute;
  bottom: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  z-index: 1;
}

.slick-prev {
  left: 5%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.slick-next {
  right: 5%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.slick-prev::before,
.slick-next::after {
  padding: 12px 5px;
  float: right;
  color: #fff;
  font-family: FontAwesome;
  text-indent: 0;
}

.slick-prev::before { content: '\f053'; }
.slick-next::after { content: '\f054'; }

.slick-prev:hover::before,
.slick-next:hover::after {
  color: rgba(0, 0, 0, 1);
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.slider-nav-thumbnails .slick-slide {	opacity: 0.5; }
.slider-nav-thumbnails .slick-slide.slick-active { opacity: 1; }

.slider-nav-thumbnails {
  display: flex;
  justify-content: space-evenly;
  width: 67.5%;
  margin: 0 auto;
  overflow: hidden;
}
/* banner section styling end */

/* loyalty-love section styling start */
.loyalty-love {
  margin-bottom: 58px;
  color: #1C1C1C;
  text-align: center;
}

.loyalty-love .wrapper { position: relative; }

.quote {
  width: 44%;
  margin: 0 auto;
}

.quote::before {
  content: '';
  padding: 0 18.5%;
  border-top: 3px solid #F8935B;
  position: absolute;
  top: 24px;
  left: 0;
  -webkit-transform: translate(-25%);
  -ms-transform: translate(-25%);
  transform: translate(-25%);
}

h3 {
  font-size: 43px;
  font-weight: 600;
  text-transform: uppercase;
}

h3::before {
  content: '\f10c';
  position: absolute;
  left: 28.5%;
  top: 17px;
  color: #F8935B;
  font-family: FontAwesome;
  font-size: 15px;
}

h3 + span {
  margin-bottom: 37px;
  display: block;
  font-size: 17px;
  font-style: italic;
  text-transform: capitalize;
}

.quote p {
  margin-bottom: 24px;
  line-height: 1.4;
}

.quote p + span { margin-right: 14px; }

.hashtag {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
/* loyalty-love section styling end */

/* loyalty-campaign section styling start */
.loyalty-campaign {
  padding: 10px 0;
  background-color: #1C1C1C;
}

.loyalty-campaign .wrapper { width: 73.6%; }
/* loyalty-campaign section styling end */

/* our-services section styling start */
.our-services {
  padding-top: 38px;
  position: relative;
}

.our-services figure {
  width: 5%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  background-color: #FFF;
}

.services {
  padding: 18px 0;
  border: 2px solid #D4D4D4;
}

h4 {
  margin: 0 1.5%;
  display: inline-block;
  font-size: 8px;
  text-transform: uppercase;
}

.services ul {
  width: 93%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.services li {
  margin: 6px 0;
  -ms-flex-preferred-size: 5.5%;
  flex-basis: 5.5%;
}

.services .longer { width: 90%; }

.luxury li,
.premium li,
.select li,
.longer li {
  margin: 0 1.4%;
}
/* our-services section styling end */
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/
footer { padding: 20px 0 34px; }

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer li { margin: 0 1.5%; }

footer a {
  color: #1C1C1C;
  font-size: 11px;
  text-transform: capitalize;
}
 /*=================================
  footer styling ends here
=================================*/ 
/*media query for 995px starts here*/
@media only screen and (min-width: 995px) {
  nav a:hover,
  footer a:hover {
    color: #F8935B;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }

  .banner-info a:hover {
    background-color: #F8935B;
    color: #FFF;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
}

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  /* hamburger added */
  .hamburger { display: block; }

  nav {
    width: 45px;
    height: 45px;
  }

  .hamburger span {
    width: 100%;
    height: 3px;
    border-radius: 20px;
    margin-bottom: 7px;
    display: block;
    background-color: #000;
    text-indent: -9999px;
  }

  nav ul {
    width: 100%;
    display: none;
    position: absolute;
    top: 64px;
    right: 0;
    left: 0;
    z-index: 1;
  }

  nav li {
    width: 100%;
    margin-left: 0;
    padding: 16px 0;
    border: 1px solid #FFF;
    background-color: #4f4f4f;
    text-align: center;
  }

  nav a {
    color: #FFF;
    text-transform: capitalize;
  }

  .block {
    display: block;
    -webkit-animation-name: example;
    animation-name: example;
    -webkit-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }

  .ham1 {
    -webkit-transform: translateY(0) rotate(-45deg); 
    -ms-transform: translateY(0) rotate(-45deg); 
    transform: translateY(0) rotate(-45deg); 
    -webkit-transition: all .5s ease-out; 
    -o-transition: all .5s ease-out; 
    transition: all .5s ease-out;
  }

  .ham3 { 
    -webkit-transform: translateY(-18px) rotate(45deg); 
    -ms-transform: translateY(-18px) rotate(45deg); 
    transform: translateY(-18px) rotate(45deg); 
    -webkit-transition: all .5s ease-out; 
    -o-transition: all .5s ease-out; 
    transition: all .5s ease-out;
  }

  .ham2 { 
    -webkit-transform: scale(0);
    -ms-transform: scale(0); 
    transform: scale(0);
  }

  nav a:hover { color: #FFF; }
 /* hamburger styling end */
  h1 { width: 14%; }
  .banner-info { top: 173px; }

  h4 {
    display: block;
    font-size: 10px;
    text-align: center;
  }

  .services ul {
    width: 100%;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/*media query for 540px starts here*/
@media only screen and (max-width: 540px) {
  h3::before,
  .quote::before { display: none; }

  h2 { font-size: 20px;}
  h2 + p { font-size: 12px;}
  .banner-info { top: 30px; }
  h1 { width: 34%; }
  h4 { font-size: 27px; }
  .services li { flex-basis: 50%; }
  .quote { width: 100%; }
  .banner-info { top: 200px; }

  footer ul {
    flex-wrap: wrap;
    text-align: center;
  }

  footer li { flex-basis: 100%; }
  h4 { margin-bottom: 40px; }
  .our-services figure { width: 17%; }

  .services li,
  .footer li {
    margin-bottom: 20px;
  }
}